#content {
max-width: 1600px;
margin: 0 auto;
}

body {
    background-color: #003049;    
}

a{
    text-decoration: none;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: #fcbf49;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #fcbf49;
}

.msg {
    background-color: #d62828;
}

.logo {
    border-radius: 60%;
    height: 200px;
}

footer {
    color: #fcbf49;
    background-color: #f77f00;
}