@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

:root {
    --blue: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #fcbf49;

    --grey: #eee;

    --heading-font: 'Montserrat', serif;
    --text-font: 'Roboto', sans-serif;

    --outline: var(--blue);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
h1, h3, p {
    color: var(--yellow);
}
h2, li, #perfect-for p {
    color: var(--blue);
}

p, li, a {
    font-family: var(--text-font);
}

/* ---------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    outline: 1px solid var(--outline);
    margin-bottom: 1px;
}

header img {
    max-height: 100px;
}

nav {
    margin: auto 10px;
}

nav a {
    text-decoration: none;
    color: var(--grey);
    padding: 30px;
}
nav a:hover {
    color: var(--red);
    text-decoration: underline;
}
/* ---------------------------------------------- */



body {
    max-width: 1200px;
    margin: 10px auto;
    background-color: var(--blue);
}

#residence-hero, #residence-details {
    background-color: var(--grey);
}

#residence-hero {
    display: grid;
    grid-template-columns: 30% 70%;
    outline: 1px solid var(--outline);
    padding: 20px;
}
#features {
    grid-column: 1;
}
#features ul {
    list-style-type: none;
    padding: 20px 60px 20px 20px;
    width: fit-content;
    outline: 1px solid var(--outline);
    margin-bottom: 30px;
}
#features li {
    padding: 5px;
}
#residence-hero img {
    grid-column: 2;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#residence-details {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    outline: 1px solid var(--outline);
    margin-top: 1px;
}
#residence-details ul {
    list-style-type: none;
    padding: 0 20px 20px;
    width: fit-content;
}
#residence-details li {
    padding: 5px;
}
#residence-details li::marker{
    content: "\2713\00A0";
    font-weight: bold;
}

#floor-plans {
    text-align: center;
    justify-self: center;
}
#floor-plans img {
    width: 70%;
}

#perfect-for {
    text-align: center;
    outline: 1px solid var(--outline);
    width: 70%;
    justify-self: center;
    height: fit-content;
    padding: 10px 20px 40px;
    margin-top: 20px;
}
#perfect-for img {
    width: 70%;
}

footer {
    margin: 0;
    background-color: var(--orange);
    outline: 1px solid var(--outline);
    text-align: center;
}
footer p {
    margin: 0;
    padding: 10px;
}

.footer-top {
    display: flex;
}

footer div {
    margin: 0 20px;
}

footer form {
    max-width: 400px;
}
footer form input {
    margin-bottom: 5px;
    padding: 5px;
    width: 45%;
}
footer form textarea {
    width: 91%
}
footer form button {
    width: 91%;
}

/* ---------------------------------------------- */

@media screen and (max-width: 1200px) {
    body {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    #residence-details {
        grid-template-columns: repeat(3, 1fr);
    }
    #floor-plans img {
        width: 100%;
    }
    #perfect-for {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    #residence-hero, #residence-details {
        display:block;
    }
    main * {
        justify-content: center;
        justify-self: center;
        text-align: center;
    }
    #residence-details img {
        width: 70%;
    }
    #perfect-for {
        width: 200px;
    }
    footer form textarea, footer form input, footer form button {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    header {
        display: block;
        text-align: center;
    }
    nav a {
        display: block;
        padding: 10px;
    }
    .footer-top {
        display: block;
    }
}