
.hero{
    display: flex;
    justify-content: right;
    height: 300px;
    width: 1200px;

}
.hero .msg {
    justify-self: left;
}
body {
    background-color: #003049;
    display: grid;
    margin: 0;
    justify-content: center;
    max-width: 1500px;

}

header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 1200px;
    background-color: #f77f00;
    
}

nav {
    font-size: 25px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    text-decoration: none;
    color: white;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: #fcbf49;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #fcbf49;
}
footer {
    color: #fcbf49;
    background-color: #f77f00;
}
.msg {
    background-color: #d62828;
}
.logo {
    background-color: #f77f00;
    border-radius: 60%;
    height: 200px;
    width: 250px;
}